.form-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 340px;
  width: 100%;
}

.form-container .question-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-container .answer {
  border: 1px solid rgba(#fff, 0.8);
  color: #fff;
  padding: 5px;
  background-color: transparent;
  outline: none;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.question-container .answer:focus {
  border-color: #fea133;
  box-shadow: 1px 2px 10px #fea133;
}

.form-container .send-button {
  outline: none;
  border: none;
  background-color: #fea133;
  width: 135px;
  height: 35px;
  cursor: pointer;
}
.form-container .send-button:hover {
  box-shadow: 1px 2px 10px #e3f820;
}
